/* adding local fonts */
@font-face {
    font-family: "Sedan SC";
    src: url(./resources/SedanSC-Regular.ttf);
}

/* adding local fonts */
@font-face {
    font-family: "Short Baby";
    src: url(./resources/ShortBaby-Mg2w.ttf);
}

/* main content */
body {
    font-family: "Sedan SC", serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 20px;;
    background-color: black;
    height: 90vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px 10px 10px;
}

#profile-pic {
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

#profile-name {
    color: white;
    font-weight: 250;
    font-family: "Short Baby", serif;
}

.nav {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    color: white;
    margin-left: 20px;
}

.nav:hover {
    color: gold;
}

.nav>a {
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: white;
    align-content: center;
}

.nav>a:hover {
    color: lightgrey;
}

.right {
    background-color: lightgray;
    height: 90vh;
}